.DS_Store
dist/electron/*
dist/web/*
build/*
!build/icons
node_modules/
npm-debug.log
npm-debug.log.*
thumbs.db
!.gitkeep
### Example user template template
### Example user template

# IntelliJ project files
.idea/
*.iml
out
gen
